
@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@{
    ViewBag.Title = "ThankYouPage";
}
<div class="messageDiv">
    <h2>Thank you for your business. Your purchased items will be despatched in 72 hourse.</h2>
</div>
