@{
    Layout = "~/Views/Shared/_MemberCenterLayout.cshtml";

}

@model DigitalXData.CustomerDTO

<h2>Hello @Model.FirstName @Model.LastName !</h2>
<br />
<h4>This is your user center. Please select one of the options from left menu.</h4>
<br />
<br />





