
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/SideMemberBar.css" rel="stylesheet" />
<link href="~/Content/userCenter.css" rel="stylesheet" />


<ul id="sideMemberBar">
    <li><a id="accessOrderInformation">Your Orders</a></li>
    <li><a>Dummy</a></li>
</ul>

<div id="memberMainDiv">
    @RenderBody()
</div>

<script src="~/Scripts/memberJavaScript.js"></script>