<div id="onelineSupport">
    <img id="floating" src="~/Content/Pictures/help.png" />
</div>

<div id="onlineSupportWindow">
    <h3>Online Support Service started...</h3><br />
    <h4>Hello, product specialist 007 is here, how may I help you?</h4>
    <textarea rows="10" cols="30">Type your message here...</textarea>
</div>

<script src="~/Scripts/onlineSupport.js"></script>