@{
    ViewBag.Title = "About DigitalX";
}
<h3>@ViewBag.Message</h3>

<div class="contentStyle1">
    <h2>@ViewBag.Title</h2>
    <h3>DigitalX is world leading retailers specilising in ......</h3>
</div>

