@{
    ViewBag.Title = "Contact DigitalX";
}

<div class="contentStyle1">
    <h2>@ViewBag.Title</h2>
    <h3>Contact Information:</h3>
    <address>
        Digital X <br />
        Earth <br />
        <abbr title="Phone">P:</abbr>
        1234567
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:help@digitalx.com">help@digitalx.com</a><br />
        <strong>Sales:</strong> <a href="mailto:sales@digitalx.com">sales@digitalx.com</a>
    </address>
</div>