@{
    Layout = null;
}

<link href="~/Content/SlideShow.css" rel="stylesheet" />

<div id="adv">
    <div class="slides">
        <ul>
            <li><a href="#"><img class="pic" src="~/Content/Pictures/001.jpg" alt="image" /></a></li>
            <li><a href="#"><img class="pic" src="~/Content/Pictures/002.jpg" alt="image" /></a></li>
            <li><a href="#"><img class="pic" src="~/Content/Pictures/003.jpg" alt="image" /></a></li>
            <li><a href="#"><img class="pic" src="~/Content/Pictures/004.jpg" alt="image" /></a></li>
            <li><a href="#"><img class="pic" src="~/Content/Pictures/005.jpg" alt="image" /></a></li>
        </ul>
    </div>
    <a href="#" class="prev">Previous</a>
    <a href="#" class="next">Next</a>
</div>

<script src="~/Scripts/slideShow.js"></script>



